# KLIPPER (moonraker/mainsail) CONFIGURATION FOR Ender3 V2 with BIGTREETECH SKR mini E3 v3.0 AND Z-ENDSTOP --> COMPILING OPTIONS: STM32G0B1 with 8KiB bootloader and USB communication
# fr4nz_V3.2_040823

[include mainsail.cfg]

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: 0
position_max: 240
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
stealthchop_threshold: 999999

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: 0
position_max: 235
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
stealthchop_threshold: 999999

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 8
endstop_pin: ^PC2
position_endstop: 0.0
position_max: 250

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
stealthchop_threshold: 999999

[endstop_phase]

[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD1
microsteps: 16
rotation_distance: 32.076
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
min_extrude_temp: 150
max_temp: 250
max_extrude_only_distance: 100.0

[firmware_retraction]
retract_length: 5.5
retract_speed: 45
unretract_extra_length: 0
unretract_speed: 45

[gcode_arcs]
resolution: 0.2

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.650
stealthchop_threshold: 999999

[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
min_temp: 0
max_temp: 130

[heater_fan nozzle_cooling_fan]
pin: PC7

[heater_fan controller_fan]
pin: PB15

[fan]
pin: PC6

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_380021000450415339373620-if00

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 500
max_z_velocity: 5
max_z_accel: 100
square_corner_velocity: 1

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

[bed_screws]
screw1: 28, 25
screw1_name: Front Left
screw2: 198, 196
screw2_name: Back Right
screw3: 198, 25
screw3_name: Front Right
screw4: 28, 196
screw4_name: Back Left
screw5: 115, 115
screw5_name: Center

[virtual_sdcard]
path: ~/E3V2_data/gcodes

[display_status]

[pause_resume]

### Gcode Macros ###

[gcode_macro PAUSE]
description: Pause running print
rename_existing: PAUSE_BASE
variable_extrude: 1.0
gcode:
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %} 

[gcode_macro RESUME]
description: Resume running print
rename_existing: RESUME_BASE
gcode:
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
description: Cancel running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE

[gcode_macro GO_PARK]
gcode:
    {% if printer.homed_axes != 'XYZ' %}
		G28			
	{% endif %}
    G91
    G1 Z10 F1500
    G90
    G1 X240 Y120

[gcode_macro M600]
gcode:
    # Definitions
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    # End Definitions
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.9 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

[gcode_macro Hotend_PID]
gcode:
    # Definitions
    {% set Temp = params.Temp|default(200)|float %}
    {% set Fan = params.Fan|default(255)|float %}
    # End Definitions
    M106 S{Fan}
    PID_CALIBRATE HEATER=extruder TARGET={Temp}
    

[gcode_macro Bed_PID]
gcode:
    # Definitions
    {% set Temp = params.Temp|default(60)|float %}
    # End Definitions
    PID_CALIBRATE HEATER=heater_bed TARGET={Temp}

### START GCODE CURA ###

[gcode_macro START_PRINT_CURA]
gcode:
    # Home
    G28 
    # Relative Extrusion
    M83 
    # Reset extruder
    G92 E0
    # Waiting position
    G1 X45 Y223 Z10.0 F5000.0
    # Start point
    G1 X45 Y223 Z0.3 F5000.0
    # 1st line
    G1 X175 Y223.0 Z0.3 F1500.0 E15
    # Side step
    G1 X175 Y222.7 Z0.3 F5000.0
    # 2nd line
    G1 X45 Y222.7 Z0.3 F1500.0 E30
    # Keep it clean
    G1 E-5 F3000
    # Z Hop
    G1 Z5.0 F3000
    # Reload
    G1 E4.9 F3000
    # Reset extruder
    G92 E0

[gcode_macro END_PRINT_CURA]
gcode:
    # Relative Coordinates
    G91
    # Keep it clean
    G1 E-3 F2700
    G1 E-2.5 Z0.2 F2400
    G1 X5 Y5 F3000
    # Power saving
    M140 S0
    M104 S0
    M106 S0
    # Head away
    G1 Z10 F3000
    # Absolute Coordinates
    G90
    # Show results
    G1 X0 Y220
    # Disable steppers
    M84 X Y E

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 64.037
#*# pid_ki = 0.832
#*# pid_kd = 1231.912
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 31.320
#*# pid_ki = 2.008
#*# pid_kd = 122.147
